## Visual Studio & .NET Core defaults

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]*/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache
.vs/

# Test results
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Others
*.dbmdl
*.jfm
*.pfx
*.publishsettings
node_modules/

# wwwroot - ignore JavaScript files
wwwroot/*.js
wwwroot/**/*.js

# Optional: keep specific JS file if needed
#!wwwroot/js/site.js
